*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  background-color: #c1d2d8;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
.container {
  max-width: 600px;
}
.username {
  font-weight: 800;
}
.time {
  font-size: 0.75em;
  color: #b1b1b1;
}
.update-msg {
  font-size: 0.75em;
  font-weight: 100;
}

.logged-in-as {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.9em;
  font-weight: 100;
  color: #333;
}

.logged-in-as .username {
  font-weight: 600;
  color: #c96e1e;
  font-style: italic;
}

.chat-window {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse; /* Reverse the order */
}


